/*-----body----*/

body{
  padding: 1.5rem;
  margin: 3em 5em 3em; 
  border: 1px ridge;
  border-color:#d8ffe2;
  background: rgba(255, 247, 251);
 
p{
  line-height: 35px;   /* within paragraph */
}   
  

}
main{
  
  font-family: sans-serif;
  /* font-weight: lighter; */
  font-size: 18px;
  line-height: 1.5;
  background:rgb(226, 255, 251,.3)
  


}
    /*-----header----*/
h2{
  text-align: center;
  font-family: "Arial Narrow", sans-serif;
  font-size: 25px;
  margin: 1em 0;
  color:#84b3ff
}


/*---- nav ----*/

nav ul{
background: rgba(255, 254, 232,0.7);    
list-style: none;
padding: 0 0;
margin: 0;
text-align: center;
}

nav li{
display: inline;
font-family: sans-serif;
font-size: 14px;
}
nav a {
text-transform: uppercase;
padding: .5em;
margin-top: 2em;
text-decoration: none;
color: #f0a0ff
}
nav a:hover,
nav a:focus {
    color:pink;
}

/*----images----- */
img {
  max-width: 100%;
}

#title{
max-width:50em;
}

.center{
  display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 0;
      width: 100%;
}
a{
  word-break: break-all;
}
